
.DS_STORE

# Virtualenv related
khEnv/
bin/
include/
pip-selfcheck.json
static-server/media-root/status/
media/

# Django related
# src/<yourproject>/settings/local.py
# static-cdn/  # any collected static files


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
